.container{
    margin: 50px 0;
}

.card{
    margin: 0 0 2% 2% !important;
}

.recuperados{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}

.confirmados{
    border-bottom: 10px solid rgba(255,0,0,0.5); 
}

.muertos{
    border-bottom: 10px solid rgba(0,0,0,0.5); 
}

.activos{
    border-bottom: 10px solid rgba(10,90,255,0.6);
}