.nav li {
  float: left;
}
.nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: greenyellow;
  border-right: 1px solid grey;
}
